

 
 /*
input, textarea
{
background: white;
border: solid 1px darkblue;
color: darkblue;
font-weight: bold;
height: 30px;
font: 16px;

}
 
div#container
{
width: 100%;
align: center;
background: white;
font-size: 16px; 
color: black;
 

} 
*/

 /*
div#list80
{
width: 100%;
 
background:white;
}

div#listcontainer
{
 
 
 
width: 100%;
margin: auto;
background: white; 
 
font-family: Arial,Sans-Serif,Trebuchet MS,Verdana; 
 
} 
div#listcontainer a
{
color: blue;

text-decoration: underline;
}
*/
 
div#list1a
{
width: 98%;
float: left;

padding-right: 2%; 
vertical-align: top; 
background: white; 
}

 
div#list2a
{
width: 48%;
float: left;
word-wrap: break-word;
display: inline;
vertical-align: top; 
padding-left: 1%; 
font-size: 13px;
line-height: 130%;
text-align: left;
background: white;
 
}
div#list3a
{
width: 42%;
float: left;
padding-left: 10px;  
word-wrap: break-word; 
display: inline; 
font-size: 13px;
line-height: 130%; 
test-align: left;
background: white;
 
}
div#list4
{

padding-top: 10px; 
padding-left: 10px;
padding-right: 10px;
font-size: 16px; 
background: white; 
 float: left;
line-height: 130%; 
 
width: 100%;
 

} 

 

div#formarea
{
font-size: 13px;
font-weight: bold; 
color: darkblue;
width:90%;
background: white;
margin: auto;
text-align: center;
 
} 
 
  
@media (min-width: 737px) 
{

 

 

/*
 div#container
{
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 12px;
color: black;
}

*/
  

 

div#list1a
{
width: 98%;
min-height: 50px;
padding-left: 2%
}
 
div#list2a
{
width: 45%;
font-size: 12px; 
background: white;

} 
div#list3a
{
width: 45%;
font-size: 12px; 
background: white; 
} 
/*
div#list4
{

 
font-size: 12px; 
width: 100%;
padding-top: 10px;
font-size: 16px;
background: white;
line-height: 120%;
} 

div#listcontainer
{
width: 590px;
 
align: center;
margin: auto;
  
}
*/ 
}

/*
@media (min-width: 860px) 
{
div#list80
{
width: 100%;
margin-left: 0%; 
 
} 
 
}
*/

/*
@media (min-width: 1280px) 
{
 

div#container
{
width: 70%;
font-size: 12px; 
color: black;

}
 
 
div#list80
{
margin-left: 0;
}


}
*/

@media (max-width: 440px) 

{
/*
div#container
{
 
font-size: 15px; 
color: black;

}
div#list1
{
width: 35%;
 
text-align: left;
min-width: 110px;

background: white;
font-size: 14px;
}
 */
div#list1a
{
width: 100%;
 
text-align: left;
min-width: 110px;

background: white;
font-size: 14px;
}
 
 

div#list2a
{
width: 95%;
background: white;
font-size: 14px;

}

div#list3a
{
width: 95%;
background: white;
font-size: 14px;
padding-left: 0px;
}

.listingphoto
{
max-width: 100px;
}
 
}

 